---
title: Home
description: The latest app to help you find new friends with common interests.
image: https://user-images.githubusercontent.com/43714632/47627739-c34c5f00-db57-11e8-88a8-2aa8ab0230b0.jpg
bottom_image: https://user-images.githubusercontent.com/43714632/47627739-c34c5f00-db57-11e8-88a8-2aa8ab0230b0.jpg
solution_image:https://user-images.githubusercontent.com/43714632/48309298-05849000-e59d-11e8-9af0-ba02ddf2c361.jpg
---

<section class="hero" style="background-image: url({% include relative-src.html src=page.image %})">
	<div class="inner-hero text-container">
		<div class="hero-text-container">
			<h1 class="editable">HealTheta</h1>
			<p class="subtext editable">A Secure, Fast Health Care Interoperability Resources Platform.</p>
			<!--<div class="cta button alt"><a href="#">Join Now</a></div>-->
		</div>
	</div>
	<div class="learn-more"><a href="#learn-more">Learn more <span class="arrow">&#x25BC;</span></a></div>
</section>

<div class="content">
	<section class="info" id="learn-more">
		<div class="container flex">
			<div class="text">
				<h2 class="editable">Problem</h2>
				<p class="editable">We @Healθ believe that the information technology will play a large role in improving the quality of care, reducing costs and boosting efficiency. At the moment there are many issues which are plauging the healthcare industry, Some of them are, Lack of Meaningful Use, Inneficient Health Information Exchange, Poor Patient Engagement, Lack of Clinical Data Analysis.</p>
			</div>
			<div class="image">
				<img class="editable" src="https://user-images.githubusercontent.com/43714632/47636941-1803d000-db80-11e8-8447-1d8b6cb4d417.png" alt="Screenshot" />
			</div>
		</div>
	</section>

	<section class="info">
		<div class="container flex">
			<div class="text">
				<h2 class="editable">Vision</h2>
				<p class="editable">Building a future centric solutions in healthcare where through our solutions people and organizations achieve full potential health and well-being accross life-span.</p>
			</div>
			<div class="image">
				<img class="editable" src="https://user-images.githubusercontent.com/43714632/47637176-e0e1ee80-db80-11e8-8092-c2fb458934da.png" alt="Screenshot" />
			</div>
		</div>
	</section>

	<section class="info">
		<div class="container flex">
			<div class="text">
				<h2 class="editable">Mission</h2>
				<p class="editable">To build solutions which enable secure, smarter, meaninfful care delivered with highest granularity producing healthier patients as well as helping effective health care management for any health organization or health care institution.</p>
			</div>
			<div class="image">
				<img class="editable" src="https://user-images.githubusercontent.com/43714632/47647711-cf5b0f80-db9d-11e8-9932-72e3ac74a68f.png" alt="Screenshot" />
			</div>
		</div>
	</section>
	
	<section class="info">
		<div class="container flex">
			<div class="text">
				<h2 class="editable">Our Solution</h2>
				<p class="editable">We intend to build a solution which is carefully designed from scratch up taking Security , Privacy and putting users/Patients at the control
					of their electronic health record data. Our solution is designed to be coherent to FHIR and ICD-10 standards along with cutting edge 
					Security and Authentication controls. We are using state of the art block-chain technology to enable irreversible non-peekable data storage 
					mechanism which enables only a authorized individual to allow who/where/when and how will be able to utilize his personal health care 
					record with Access and Consent policy management.</p>
			</div>
			<div class="image">
				<img class="editable" src="https://user-images.githubusercontent.com/43714632/48309252-ce61af00-e59b-11e8-9f17-bdf0a0c451f2.png" alt="Screenshot" />
			</div>
		</div>
	</section>	
	
	
	<section class="hero" style="background-image: url({% include relative-src.html src=page.solution_image %})">
		<div class="inner-hero text-container">
		</div>
	</section>		

	<section class="hero" style="background-image: url({% include relative-src.html src=page.bottom_image %})">
		<div class="inner-hero text-container">
			<div class="hero-text-container">
				<h2 class="editable">Transparent & Open</h2>
				<p class="subtext editable">We believe in developing transparent open technologies.</p>
				<div class="cta button alt"><a href="#">I Want More !</a></div>
			</div>
		</div>
	</section>
</div>
