---
title: Home
description: The latest app to help you find new friends with common interests.
image: https://user-images.githubusercontent.com/43714632/47627739-c34c5f00-db57-11e8-88a8-2aa8ab0230b0.jpg
bottom_image: https://user-images.githubusercontent.com/43714632/47627578-df033580-db56-11e8-9099-21add43ea9fd.png
---

<section class="hero" style="background-image: url({% include relative-src.html src=page.image %})">
	<div class="inner-hero text-container">
		<div class="hero-text-container">
			<h1 class="editable">HealTheta</h1>
			<p class="subtext editable">A Secure, Fast Health Care Interoperability Resources Platform.</p>
			<!--<div class="cta button alt"><a href="#">Join Now</a></div>-->
		</div>
	</div>
	<div class="learn-more"><a href="#learn-more">Learn more <span class="arrow">&#x25BC;</span></a></div>
</section>

<div class="content">
	<section class="info" id="learn-more">
		<div class="container flex">
			<div class="text">
				<h2 class="editable">Problem</h2>
				<p class="editable">We @Healθ believe that the information technology will play a large role in improving the quality of care, reducing costs and boosting efficiency. At the moment there are many issues which are plauging the healthcare industry, Some of them are, Lack of Meaningful Use, Inneficient Health Information Exchange, Poor Patient Engagement, Lack of Clinical Data Analysis.</p>
			</div>
			<div class="image">
				<img class="editable" src="http://placehold.it/650x1300" alt="Screenshot" />
			</div>
		</div>
	</section>

	<section class="info">
		<div class="container flex">
			<div class="text">
				<h2 class="editable">Vision</h2>
				<p class="editable">Building a future centric solutions in healthcare where through our solutions people and organizations achieve full potential health and well-being accross life-span.</p>
			</div>
			<div class="image">
				<img class="editable" src="http://placehold.it/650x1300" alt="Screenshot" />
			</div>
		</div>
	</section>

	<section class="info">
		<div class="container flex">
			<div class="text">
				<h2 class="editable">Mission</h2>
				<p class="editable">To build solutions which enable secure, smarter, meaninfful care delivered with highest granularity producing healthier patients as well as helping effective health care management for any health organization or health care institution.</p>
			</div>
			<div class="image">
				<img class="editable" src="http://placehold.it/650x1300" alt="Screenshot" />
			</div>
		</div>
	</section>

	<section class="hero" style="background-image: url({% include relative-src.html src=page.bottom_image %})">
		<div class="inner-hero text-container">
			<div class="hero-text-container">
				<h2 class="editable">Find your buddy today</h2>
				<p class="subtext editable">It's free, fun and an exciting way to meet new people.</p>
				<div class="cta button alt"><a href="#">Join Now</a></div>
			</div>
		</div>
	</section>
</div>
